body {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

/* Header Stuff Here*/
header {
    background-color: #f7f0ba;
    padding: 2rem 2vw;
}
header h1 {
    margin: 0;
    color: #375741;    
}
header p {
    margin: 0;
    color: #375741;
    letter-spacing: .5px;
}

/* nav stuff goes here*/
nav {
    background-color: #f7f7f2;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 2 rem;
    text-decoration: none;
    color: #375741;
    font-weight: 400;
    display: block;
    padding: .83rem 2rem;
}
nav li.current a {
    background-color:#375741;
    color: #f7f0ba; 
}
nav a:hover {
    color: lightgray;   
}

/* stuff for the main */
main {
    padding: 2.5rem 2vw;    
}

main h1 {
    color: rgb(247,205,231); 
}

main h2 {
    color: #375741;
    margin-bottom: .2rem;
}

main p {
    color: #375741;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #f7f7f2
}

main dl dt {
    color: rgb(247,205,231);
    font-weight: 400;
}
main dl dd {
    color: #375741;
    font-size: 1.3rem;
}

main ul {
    list-style-type: square;  
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: 1rem;
}

main address {
    font-style: normal;
    background-color: #f7f0ba;
    padding: .5rem;
    width: 12.5rem;
    border: 1px dashed #375741;
    border-radius: .2rem; 
}

main a {
    color: #375741;
}
main a:hover {
    color: rgb(247,205,231);
}


/* Footer Stuff Here */
footer {
    background-color: #f7f7f2;
    text-align: center;
    color: #375741;
    padding: 1rem 0;
    font-size: 1rem;
}
footer a {
    color: #375741;
}

